<%- include('partials/header') -%>

<div id="main" class="col-md-9 col-lg-10 d-md-block" style="padding-left: 1.5rem; padding-right: 1.5rem;">
    <div class="row">
        Hello World !!!
    </div>

    <div class="row">
        <div class="col align-item-center">
            <canvas id="topPanel" width="700" height="150"></canvas>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <!-- 今日政府新闻 -->
        <div class="col-md-6 featurette">
            <h3 class="pb-4 mb-4 font-italic border-bottom"> 今日企业新闻（已标记） </h3>
            <ul class="list-group">
                <% data2.forEach(function(item){ %>
                <li class="list-group-item">
                    <h6><a href="/readNews/singleNews/<%= item.news_id %>"><%= item.news_title.substring(0, 20) %>...</a> <h7> <%= item.new_news_date %></h7></h6>
                    <div>
                        <% try{item.com_tag.split(",").forEach(function(tag){ %>
                            <span class="badge rounded-pill bg-secondary text-light"><%= tag %></span>
                        <% })}catch(err){} %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
        <!-- 今日政府新闻 END -->
        <!-- <div class="col-md-6" style="background-color: red;">
            <canvas id="midRight"></canvas>
        </div> -->
        <div class="col-md-6 featurette">
            <h3 class="pb-4 mb-4 font-italic border-bottom"> 今日政府新闻（已标记） </h3>
            <ul class="list-group">
                <% data3.forEach(function(item){ %>
                <li class="list-group-item">
                    <h6><a href="/readNews/singleNews/<%= item.news_id %>"><%= item.news_title.substring(0, 20) %>...</a> <h7> <%= item.new_news_date %></h7></h6>
                    <div>
                        <% try{item.gov_tag.split(",").forEach(function(tag){ %>
                            <span class="badge rounded-pill bg-danger text-light"><%= tag %></span>
                        <% })}catch(err){} %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <!-- 今日行业新闻  -->
        <div class="col-md-6 featurette">
            <h3 class="pb-4 mb-4 font-itatlic border-bottom"> 今日未标记新闻 </h3>
            <ul class="list-group">
                <% data4.forEach(function(item){ %>
                    <li class="list-group-item">
                        <h6><a href="/readNews/singleNews/<%= item.news_id %>"><%= item.news_title.substring(0, 20) %>...</a> <h7> <%= item.new_news_date %></h7></h6>

                    </li>
                    <% }) %>
            </ul>
        </div>
        <!-- 今日行业新闻 END -->
        <div class="col-md-6" style="background-color: yellow;">
            <canvas id="midLeft"></canvas>
        </div>
    </div>


</div>

<script>
    var ctx = document.getElementById('topPanel').getContext('2d')

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [<% data5.forEach(function (log) { %> "<%= log.new_trade_date %>", <%}) %>],
            datasets: [{
                label: '沪深300指数',
                labels: '沪深300指数',
                yAxisID: 'hs300',
                data: [<% data5.forEach(function (log) { %> <%= log.hs300_close %>, <%}) %>]

            },{
                label: '情绪分数',
                labels: '情绪分数',
                yAxisID: 'sentiment',
                data: [<% data5.forEach(function (log) { %> <%= log.sentiment_score %>, <%}) %>]
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: '沪深300 vs 情绪分数'
            },
            scales: {
                yAxes: [{
                    type: 'linear',
                    display: true,
                    position: 'left',
                    id: 'hs300'
                },{
                    type: 'linear',
                    display: true,
                    position: 'right',
                    id: 'sentiment'
                }]
            } 
        }
    })

    var ctx1 = document.getElementById('midLeft').getContext('2d')

    var midLeft = new Chart(ctx1, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
            datasets: [{
                label: '公司A',
                data: [10, 30, 20, 15, 45]
            }, {
                label: '公司B',
                data: [30, 20, 15, 40, 50]
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Sample Demostration for Company'
            }
        }
    })

    var ctx2 = document.getElementById('midRight').getContext('2d')

    var midRight = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
            datasets: [{
                label: '公司A',
                data: [28, 35, 13, 35, 20]
            }, {
                label: '公司B',
                data: [27, 33, 28, 35, 40]
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Sample Demonstration for Industry'
            }
        }
    })
</script>

<%- include('partials/footer') -%>