<%- include('partials/header') -%>

<div id="main" class="col-md-9 col-lg-10 d-md-block" style="padding-left: 1.5rem; padding-right: 1.5rem;">
    <div class="row">
        Hello World !!!
    </div>

    <div class="row">
        <div class="col align-item-center">
            <canvas id="topPanel" width="400" height="150"></canvas>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <!-- 今日政府新闻 -->
        <div class="col-md-6 featurette">
            <h3 class="pb-4 mb-4 font-italic border-bottom"> 今日企业新闻（已标记） </h3>
            <ul class="list-group">
                <% data2.forEach(function(item){ %>
                <li class="list-group-item">
                    <h6><a href="/readNews/singleNews/<%= item.news_id %>"><%= item.news_title.substring(0, 20) %>...</a> <h7> <%= item.new_news_date %></h7></h6>
                    <div>
                        <% try{count = 0; item.com_tag.split(",").forEach(function(tag){ if(count <= 5){ count++;%>
                            <span class="badge rounded-pill bg-secondary text-light"><%= tag %></span>
                        <% }else{}})}catch(err){} %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
        <!-- 今日政府新闻 END -->
        <!-- <div class="col-md-6" style="background-color: red;">
            <canvas id="midRight"></canvas>
        </div> -->
        <div class="col-md-6 featurette">
            <h3 class="pb-4 mb-4 font-italic border-bottom"> 今日政府新闻（已标记） </h3>
            <ul class="list-group">
                <% data3.forEach(function(item){ %>
                <li class="list-group-item">
                    <h6><a href="/readNews/singleNews/<%= item.news_id %>"><%= item.news_title.substring(0, 20) %>...</a> <h7> <%= item.new_news_date %></h7></h6>
                    <div>
                        <% try{item.gov_tag.split(",").forEach(function(tag){ %>
                            <span class="badge rounded-pill bg-danger text-light"><%= tag %></span>
                        <% })}catch(err){} %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <!-- 今日行业新闻  -->
        <div class="col-md-6 featurette">
            <h3 class="pb-4 mb-4 font-itatlic border-bottom"> 今日未标记新闻 </h3>
            <ul class="list-group">
                <% data4.forEach(function(item){ %>
                    <li class="list-group-item">
                        <h6><a href="/readNews/singleNews/<%= item.news_id %>"><%= item.news_title.substring(0, 20) %>...</a> <h7> <%= item.new_news_date %></h7></h6>

                    </li>
                    <% }) %>
            </ul>
        </div>
        <!-- 今日行业新闻 END -->
        <div class="col-md-6">
            <h2>热点概念走势</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"><span>概念</span></th>
                        <th scope="col"><span>热度趋势</span></th>
                        <th scope="col"><span>最新资讯</span></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row"></th>
                            <% if(t1t[0].topic_count > t1t[1].topic_count){ %>
                            <td><img src="/public/fas_fa-arrow-up.svg"></td>
                            <% }else{ %>
                                <td><span>下降</span></td>
                            <% } %>
                            <td><span><%= t1t[0].topic_name %></span></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <% if(t2t[0].topic_count > t2t[1].topic_count){ %>
                            <td><span>上升</span></td>
                            <% }else{ %>
                                <td><span>下降</span></td>
                            <% } %>
                            <td><span><%= t2t[0].topic_name %></span></td>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <% if(t3t[0].topic_count > t3t[1].topic_count){ %>
                            <td><span>上升</span></td>
                            <% }else{ %>
                                <td><span>下降</span></td>
                            <% } %>
                            <td><span><%= t3t[0].topic_name %></span></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    


</div>

<!-- prepare a DOM container with width and height -->
<div id="main2" style="width: 600px;height:400px;"></div>
<div id="main3" style="width: 1000px;height:400px;"></div>
<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('main3'));

    // specify chart configuration item and data
    option = {
    title: {
        text: '事件报警器'
    },
    legend: {
        data: '事件报警器'
    },
    grid: {
            left: '5%',
            right: '15%',
            bottom: '10%'
        },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: [<% t4t.forEach(function (log) { %> "<%= log.record_date %>", <%}) %>]
    },
    yAxis: [{
        type: 'value'
    },{
        type: 'value'
    }],
    
    visualMap:{
            top: 50,
            right: 10,
            pieces: [{
                gt: 0,
                lte: 50,
                color: '#93CE07'
            }, {
                gt: 50,
                lte: 100,
                color: '#FBDB0F'
            }, {
                gt: 100,
                lte:150,
                color: '#FC7D02'
            }, {
                gt: 150,
                lte: 400,
                color: '#FD0100'
            }],
            outOfRange: {
                color: '#999'
            }
        },
    series: [
        {
            name: '侵权事件',
            type: 'line',
            yAxisIndex: 1,
            data: [<% t4t.forEach(function (log) { %> "<%= log.cum_count %>", <%}) %>],
            markLine: {
                silent: true,
                lineStyle: {
                    color: '#333'
                },
                data: [{
                    yAxis: 50
                }, {
                    yAxis: 100
                }, {
                    yAxis: 150
                }, {
                    yAxis: 400
                }]
            }
        }
    ]
};

    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>

<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('main2'));

    // specify chart configuration item and data
    option = {
    title: {
        text: '折线图堆叠'
    },
    legend: {
        data: ['政策指数', '沪深300']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: [<% data5.forEach(function (log) { %> "<%= log.new_trade_date %>", <%}) %>]
    },
    yAxis: [{
        type: 'value'
    },{
        type: 'value'
    }],
    series: [
        {
            name: '政策指数',
            type: 'line',
            yAxisIndex: 1,
            data: [<% data5.forEach(function (log) { %> <%= log.sentiment_score %>, <%}) %>]
        },
        {
            name: '沪深300',
            type: 'line',
            yAxisIndex: 0,
            data: [<% data5.forEach(function (log) { %> <%= log.hs300_close %>, <%}) %>]
        }
    ]
};

    // use configuration item and data specified to show chart
    myChart.setOption(option);
</script>

<script>
    var ctx = document.getElementById('topPanel').getContext('2d')

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [<% data5.forEach(function (log) { %> "<%= log.new_trade_date %>", <%}) %>],
            datasets: [{
                label: '沪深300指数',
                labels: '沪深300指数',
                yAxisID: 'hs300',
                backgroundColor: 'rgba(220,20,60, 0.5)',
                fill: false,
                data: [<% data5.forEach(function (log) { %> <%= log.hs300_close %>, <%}) %>]

            },{
                label: '政策情绪指数',
                labels: '政策情绪指数',
                yAxisID: 'sentiment',
                backgroundColor: 'rgba(72,61,139, 0.5)',
                fill: false,
                data: [<% data5.forEach(function (log) { %> <%= log.sentiment_score %>, <%}) %>]
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: '沪深300 vs 情绪分数'
            },
            scales: {
                yAxes: [{
                    type: 'linear',
                    display: true,
                    position: 'left',
                    id: 'hs300'
                },{
                    type: 'linear',
                    display: true,
                    position: 'right',
                    id: 'sentiment'
                }]
            } 
        }
    })

    var ctx1 = document.getElementById('midLeft').getContext('2d')

    var midLeft = new Chart(ctx1, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
            datasets: [{
                label: '公司A',
                data: [10, 30, 20, 15, 45]
            }, {
                label: '公司B',
                data: [30, 20, 15, 40, 50]
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Sample Demostration for Company'
            }
        }
    })

    var ctx2 = document.getElementById('midRight').getContext('2d')

    var midRight = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
            datasets: [{
                label: '公司A',
                data: [28, 35, 13, 35, 20]
            }, {
                label: '公司B',
                data: [27, 33, 28, 35, 40]
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Sample Demonstration for Industry'
            }
        }
    })
</script>

<%- include('partials/footer') -%>