<%- include('partials/header') -%>

<div id='main' class="col-md-9 col-lg-10 d-md-block" style="padding-left: 1.5rem; padding-right: 1.5rem;">

    <div class="row">
        <div class="col-md-8">
            <h3><%= data[0].news_title %></h3>

            <h5><%= data[0].news_date %></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" id="paragraph">
            <%= data[0].news_content %>
        </div>
        <div class="col-md-4" style="border-left-style: solid; border-left-color: black;">
            标签库工具栏
            
            <h4>公司标签</h4>
            <% try{ %>
                <% data[0].com_tag.split(",").forEach(function(item){ %>
                    <span class="badge rounded-pill bg-primary text-light"><%= item %></span>
                <% }) %>
            <% }catch(err){ %>
                <span class="badge rounded-pill bg-primary text-light">暂无标签</span>
            <% } %>
            <% try{ %>
                <h4>政府标签</h4>
                <% data[0].gov_tag.split(",").forEach(function(item){ %>
                    <span class="badge rounded-pill bg-secondary text-light"><%= item %></span>
                <% }) %>
            <% }catch(err){ %>
                <span class="badge rounded-pill bg-secondary text-light">暂无标签</span>
            <% } %>
            <% try{ %>
                <h4>话题/行业标签</h4>
                <% data[0].topic_tag.split(",").forEach(function(item){ %>
                    <span class="badge rounded-pill bg-success text-light"><%= item %></span>
                <% }) %>
            <% }catch(err){ %>
                <span class="badge rounded-pill bg-success text-light">暂无标签</span>
            <% } %>


            

            
        </div>

    </div>


</div>

<script>
    var s = "<%= data[0].news_content.replace(/[\r\n]/g, "") %>";

    let doc = new DOMParser().parseFromString(s, 'text/html')
    document.getElementById('paragraph').innerHTML = doc.body.childNodes[0].textContent


</script>

<%- include('partials/footer') -%>